/*Body y configuraciones iniciales*/
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:#111017;
    margin:0;
    padding:0;
}

main{
    flex:1;
    margin:10px 80px;
}

/*navbar*/
.header{
    background:#111017;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:10px 80px;
    min-height:120px;
    border-bottom:0.5px solid rgba(255, 255, 255, 0.526);
}

#nombre-desarrollador{
    color:#AFA9EC;
    padding:5px;
    font-size:25px;
    flex-grow:1;
    text-align:start;
}

nav{
    flex-grow:1;
}
#menu{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    list-style-type: none;
    padding:0;
    gap:20px;
}

.opcion-menu{
    color:white;
    background:#111017;

    text-align:center;
    border-radius:10px;
    border:0.5px solid rgba(255,255,255,0.2);
    padding:10px 30px;
}

.opcion-menu a{
    color:white;
    font-size:20px;
    text-decoration:none;
    display:block;
    width:100%;
}

.opcion-menu:hover{
    background:rgba(236, 222, 222, 0.297);
    cursor:pointer;
}

/*Menú hamburguesa*/
#hamburguesa {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

#hamburguesa span {
  display: block;
  width: 25px;
  height: 2px;
  background: #f0f0f0;
}

/*FOOTER*/
#footer{
    background:rgb(12, 12, 12);
    padding:0px 100px;
    min-height:120px;

    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

#texto-footer{
    color:#8a8fa8;
    font-size:20px;
}

#contenedor-iconos{
    display:flex;
    justify-content: space-evenly;
    gap:20px;
    padding:15px 50px;
}

#contenedor-iconos a{
    border-radius:10px;
    padding:10px;
    border:1px solid #8a8fa8;
    text-decoration:none;
}

a i{
    color:#AFA9EC;
    font-size:30px;
}

#contenedor-iconos a:hover{
    cursor:pointer;
}

#contenedor-iconos a i:hover{
    color:white;
}

/*MEDIAS*/
@media (max-width: 1150px) {
    /*Menú hamburguesa*/
    #hamburguesa { 
        display: flex;
    }

    #menu{
        flex-direction:column;
        gap:0px;
        flex:1;
    }

    .opcion-menu{
        min-width:100%;
    }

    nav {
        display:none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    nav.abierto {
        display: flex;
        position:absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #111017;
        max-height:300px;
        padding:10px;
    }
    
    .opcion-menu{
        text-align: center;
        background:#181724;
        color:#8a8fa8;
        padding:10px 40px;
    }

    .opcion-menu:hover{
        background:rgba(127,119,221,0.13);
        color:#AFA9EC;
        cursor:pointer;
    }

    .header{
        min-height:60px;
        justify-content:space-between;
        padding:10px 50px;
        position:relative;
    }

    #nombre-desarrollador{
        flex-grow:0;
    }

    main{
        margin:10px 20px;
    }

    #footer{
        justify-content:center;
        height:100%;
    }
    #contenedor-iconos{
        justify-content:center;
    }
    #texto-footer{
        text-align:center;
    }

    #footer{
        padding:0 20px;
    }
}