# Flask configuration
SECRET_KEY=your_secret_key_here

# Email configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_SENDER=your_email@gmail.com
MAIL_RECEIVER=contact_email@example.com