<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/base_disenos.css">
    {% block extra_css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <p id="nombre-desarrollador">Federico Ariel Osler</p>
        <div id="hamburguesa">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul id="menu">
                <li class="opcion-menu"><a href="{{ url_for('home') }}">Inicio</a></li>
                <li class="opcion-menu"><a href="{{ url_for('pagina_proyectos') }}">Proyectos</a></li>
                <li class="opcion-menu"><a href="{{ url_for('pagina_sobre_mi') }}">Sobre mi</a></li>
                <li class="opcion-menu"><a href="{{ url_for('pagina_contacto') }}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer">
        <p id="texto-footer">©2026 Federico Ariel Osler. Todos los derechos reservados</p>
        <div id="contenedor-iconos">
            <a href="https://github.com/federicoosler" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/federico-ariel-osler/" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-linkedin"></i>
            </a>
            <a href="mailto:federicoosler549@gmail.com">
                <i class="ti ti-mail"></i>
            </a>
        </div>  
    </footer>
    <script src="{{ url_for('static', filename='js/menu_hamburguesa.js') }}"></script>
</body>
</html>