{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block extra_css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block content %}
    <div id="contenedor-info">
        <p id="texto-desarrollador">desarrollador fullstack</p>
        <h1 id="titulo-nombre">Hola, soy
            <span id="nombre_destacado">Federico Ariel Osler</span></h1>
        <p class="texto texto-presentacion">Estudiante de ingeniería en informática.
            Construyo aplicaciones web <br>
            completas usando Flask, Python, HTML y CSS.
        </p>
        <div id="contenedor-botones">
            <button id="btn-ver-proyectos"><a href="{{ url_for('pagina_proyectos') }}">Ver proyectos</a></button>
            <button id="btn-descargar-cv"><a href="{{ url_for('static', filename='img/CV_Federico_Osler.pdf') }}" target="_blank" download="CV.pdf">Descargar CV</a></button>
        </div>    
    </div>
    <div id="contenedor-tecnologias">
        <h2 class="subtitulo">tecnologias</h2>
        <ul id="menu-tecnologias">
            <li class="badge">Python</li>
            <li class="badge">Flask</li>
            <li class="badge">Javascript</li>
            <li class="badge">HTML/CSS</li>
            <li class="badge">MySQL</li>
            <li class="badge">Git</li>
            <li class="badge">Jinja</li>
        </ul>
    </div>
{% endblock %}